* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  margin-bottom: 0;
}

body {
  background-color: $ltBgClr;
  font-family: "Lato", sans-serif;
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}
