.navbar-3d {
  @include flexbox;
  @include size($height: calc(#{$navSmHgt + ($navHgt/2)}));
  @include space(padding, $gen: 0);
  @include transform(translateY(-$navSmHgt));
  @include position(absolute);
  @include hardware($bf-vsby: false, $pers: 1000px);
  @include transition(
    null,
    (
      "property": transform,
    )
  );

  // Modifiers ***
  &--is-extended {
    @include transform(translateY(-($navHgt/2)));
  }

  &--is-extended & {
    &__lst {
      @include transform(translateZ(0));
      @include transition(
        null,
        (
          "property": transform,
          "delay": $trsnDlyTm,
        )
      );
    }
  }
  // End ***

  &__lst {
    background-color: $ltBgClr;

    @include flexbox;
    @include size($width: 100%);
    @include transform(translateZ(0) rotateX(90deg));
    @include transform-origin($x: center, $y: bottom);
    @include position(relative);
    @include hardware();
    @include transition(
      null,
      (
        "property": transform,
      )
    );
  }

  &__itm {
    list-style: none;

    @include flex($f-grw: 1, $f-b: 0);
  }

  &__lnk {
    @include flexbox;
    @include justify-content($gen: center);
    @include align-items($gen: center);
    @include flex-direction(column, vertical, normal, column);
    @include size($width: 100%, $height: 100%);
    @include transition(
      null,
      (
        "property": color,
      )
    );

    &:hover {
      text-decoration: none;
      color: $authActFntClr;
    }

    // Modifiers ***
    &--is-active {
      color: $authActFntClr;
    }
    // End ***
  }
}
