.top-nav {
  &__cntnr {
    z-index: 1;

    @include flexbox;
    @include size($width: 100%, $height: $navHgt);
    @include space(margin, $bottom: $navMarB);
    @include position(relative);
  }

  &__mn-pnl {
    background-color: $drkBgClr;
    border-radius: $mnPnlBrdRad;

    @include flexbox;
    @include justify-content(space-between, justify, justify);
    @include align-items($gen: center);
    @include space(padding, $right: $mnPnlPadRL, $left: $mnPnlPadRL);
    @include position(relative);

    @media (max-width: 991px) {
      @include transition(
        null,
        (
          "property": transform,
        )
      );
    }

    // States
    &--is-extended {
      @media (max-width: 991px) {
        @include transform(translateY($navSmHgt - ($navHgt/2)));
      }
    }
  }

  &__lst {
    @include flexbox;

    // Modifiers ***
    &--auth {
      @include space(margin, $right: -$authPnlMarRL, $left: -$authPnlMarRL);
    }
    // End ***
  }

  &__itm {
    list-style: none;
    z-index: 1;
  }

  &__lnk {
    border-radius: $lnkBrdRad;

    @include flexbox;
    @include align-items($gen: center);
    @include size($height: $lnkHgt);
    @include space(padding, $right: $lnkPadRL, $left: $lnkPadRL);
    @include transition(
      null,
      (
        "property": color,
      )
    );

    &:hover {
      text-decoration: none;
      color: $drkLtFntClr;
    }

    // States
    &--is-active:hover {
      color: $ltFntClr;
    }

    // Modifiers ***
    &--auth {
      @include space(margin, $right: $authPnlMarRL, $left: $authPnlMarRL);
      @include position(relative);

      &:hover {
        color: $authActFntClr;
      }
    }

    &--auth-is-active {
      color: $authActFntClr;

      @include transition(none);
    }
    // End ***
  }

  &__txt {
    @include space(margin, $left: 5px);
  }

  &__ind {
    border-radius: $lnkBrdRad;

    @include size($height: $lnkHgt);
    @include position(absolute);
    @include transition(
      null,
      (
        "property": width,
      ),
      (
        "property": transform,
      )
    );
    @include box-shadow(
      null,
      (
        "h-offset": -$hOffstBShdw,
        "v-offset": -$vOffstBShdw,
        "blur": $brBShdwDrk,
        "color": $msBShdwClrDrk,
      ),
      (
        "blur": $brBShdwDrk,
        "color": $plBShdwClrDrk,
      )
    );
  }

  &__auth-pnl {
    @include flexbox;
    @include justify-content(flex-end, end, end);
    @include align-items($gen: center);
    @include space(padding, $gen: 0);
  }

  &__btn {
    @include position(relative);
  }
}
