.sign-up {
  border-radius: $formBrdRad;

  @include box-shadow(
    null,
    (
      "h-offset": -$hOffstBShdw,
      "v-offset": -$vOffstBShdw,
      "blur": $brBShdwLt,
      "color": $msBShdwClrLt,
    ),
    (
      "blur": $brBShdwLt,
      "color": $plBShdwClrLt,
    )
  );

  &__form {
    overflow: hidden;

    @include flexbox;
    @include align-items($gen: center);
    @include flex-direction(column, vertical, normal, column);
    @include space(padding, $gen: $formPad);
    @include position(relative);
  }

  &__wlcm-txt {
    color: $ltFntClr;

    @include size($width: $inpWdth);

    // Modifiers ***
    &--mn {
      font-size: 34px;
      font-weight: 700;

      @include space(margin, $bottom: 0);
    }
    // End ***
  }

  &__inp-wrap {
    @include space(margin, $bottom: $inpMarB);
    @include position(relative);
  }

  &__inp {
    background: none;
    border: none;
    border-radius: $inpBrdRad;
    outline: none;
    color: $ltFntClr;

    @include size($width: $inpWdth, $height: $inpHgt);
    @include space(padding, $right: $inpPadRL, $left: $inpPadRL);
    @include box-shadow(
      null,
      (
        "h-offset": -$hOffstBShdw,
        "v-offset": -$vOffstBShdw,
        "blur": $brBShdwDrk,
        "color": $msBShdwClrDrk,
        "inset": inset,
      ),
      (
        "blur": $brBShdwDrk,
        "color": $plBShdwClrDrk,
        "inset": inset,
      )
    );
  }

  &__plhlr {
    @include transition(
      null,
      (
        "property": opacity,
      )
    );

    &:before {
      content: attr(data-placeholder);
      color: $drkLtFntClr;
      z-index: -1;

      @include position(absolute, $top: 50%, $left: $inpPadRL);
      @include transform(translateY(-50%));
    }
  }

  &__btns {
    @include flexbox;
    @include align-items($gen: center);
    @include flex-direction(column, vertical, normal, column);
  }

  &__soc {
    @include flexbox;
  }

  &__cir {
    background-color: $drkBgClr;
    border-radius: 50%;
    z-index: -1;

    @include size($width: 600px, $height: 600px);
    @include position(absolute, $top: -150px); // ***
  }
}
